@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700,900");
* {
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
    scroll-behavior: smooth;
}

html {
    /*scroll-snap-type: y proximity;*/
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}


/*h2 {
    text-align: center;
    margin-bottom: -4%;
    color: brown;
    font-weight: 500;
}



@media (max-width:450px) {}


@media (max-width:450px) {
    h2 {
        text-align: center;
    }
}

@media (min-width:451px) and (max-width:540px) {
    h2 {
        text-align: center;
    }
}

/*
/*
@media (min-width:541px) and (max-width:768px) {}

@media (min-width:769px) and (max-width:1024px) {}

@media (min-width:1025px) and (max-width:1200px) {}

@media (min-width:1021px) {}*/

img {
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 620;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .82rem;
    padding: .5em;
    color: brown;
}

nav a:hover,
nav a:focus {
    background: brown;
    color: white;
    border-radius: 20px;
}

@media (max-width:450px) {
    nav a {
        font-size: 11px;
    }
}

@media (min-width:451px) and (max-width:540px) {
    nav a {
        font-size: 12px;
    }
}

@media (min-width:541px) and (max-width:768px) {
    nav a {
        font-size: 13px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    nav a {
        font-size: 13px;
    }
}

@media (min-width:1025px) and (max-width:1200px) {
    nav a {
        font-size: 13px;
    }
    nav {
        float: right;
    }
}

@media (min-width:1021px) {
    nav a {
        font-size: 13px;
    }
    nav {
        float: right;
    }
}


/*aboutcomingsoon*/

nav button {
    padding: 0;
    border: none;
    background: none;
}


/*logo*/

.logo {
    width: 10em;
    border-radius: 5em;
    margin-left: 45%;
}

@media (max-width:450px) {
    .logo {
        width: 150px;
        margin-left: 17px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width:451px) and (max-width:540px) {
    .logo {
        width: 150px;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width:541px) and (max-width:768px) {
    .logo {
        width: 160px;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .logo {
        width: 160px;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width:1025px) and (max-width:1200px) {
    .logo {
        width: 180px;
        border-radius: 150px;
        margin-left: 300px;
        margin-top: 60px;
        margin-bottom: 20px;
    }
}

@media (min-width:1021px) {
    .logo {
        width: 180px;
        border-radius: 150px;
        margin-left: 300px;
        margin-top: 10px;
    }
}


/*buttons*/

.button {
    background-color: var(--background-color);
    display: inline-block;
    position: relative;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
    border-radius: 35px;
    transition: 0.6s all ease;
    --background-color: white;
}

.button-accent {
    color: black;
    background: white;
    border-color: white;
    font-weight: 500;
}

.button-small {
    border: white;
    color: black;
    font-size: .7rem;
    font-weight: 700;
}

.button-accent:hover,
.button-accent:focus {
    background: brown;
    border-color: brown;
    color: white;
}

.button-small:hover,
.button-small:focus {
    background: brown;
    border: brown;
    color: white;
}


/*portfolio*/

.portfolio {
    margin: 0;
    padding: 0;
}

.port-item {
    margin: 0;
    position: relative;
}

.port-desc {
    position: absolute;
    z-index: 100;
    bottom: 0.25em;
    left: 0em;
    right: 0em;
    color: white;
    background: rgba(0, 0, 0, .6);
    padding-bottom: 2em;
}

.port-desc p {
    margin: 1em;
}

@media (max-width:450px) {
    .port-item {
        margin-bottom: -4px;
    }
}

@media (min-width:451px) and (max-width:540px) {
    .port-item {
        margin-bottom: -4px;
    }
}

@media (min-width:541px) and (max-width:768px) {
    .port-item {
        margin-bottom: -4.14px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .port-item {
        width: 50%;
        float: left;
        margin-top: -4px;
        overflow: hidden;
    }
    .port-desc {
        transform: translateY(150%);
    }
    .port-item:hover .port-desc {
        transform: translateY(0%);
    }
}

@media (min-width:1025px) and (max-width:1200px) {
    .port-item {
        width: 33.3333334%;
        float: left;
        margin-top: -4px;
        overflow: hidden;
    }
    .port-desc {
        transform: translateY(150%);
    }
    .port-item:hover .port-desc {
        transform: translateY(0%);
    }
}

@media (min-width:1201px) {
    .port-item {
        width: 33.3333334%;
        float: left;
        margin-top: -4px;
        overflow: hidden;
    }
    .port-desc {
        transform: translateY(150%);
    }
    .port-item:hover .port-desc {
        transform: translateY(0%);
    }
}


/*footer*/

footer {
    background: brown;
    color: white;
    text-align: left;
    padding: 20px;
    opacity: 0.95;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    margin-top: 1008.5px;
    position: absolute;
    width: 100vw;
    margin-top: 1346px;
}

footer p {
    margin: 8px;
    padding: 0;
    text-align: center;
    font-size: 12px;
}

@media (max-width:450px) {
    footer {
        margin-top: 1px;
        width: 100vw;
    }
}

@media (min-width:451px) and (max-width:540px) {
    footer {
        margin-top: 1px;
        width: 100vw;
    }
}


/*footer_styles_for_socialmedia_links*/

.centerdiv {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerdiv a {
    height: 40px;
    width: 40px;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    line-height: 42px;
    margin: 10px;
    box-shadow: 1px 4px 2px 2px gray;
}

.centerdiv a i {
    transition: all 0.3s linear;
}

.centerdiv a:hover i {
    transform: scale(1.2);
}

.fa-instagram {
    color: rgb(204, 55, 127);
}

.fa-envelope {
    color: orange;
}

.fa-linkedin {
    color: #0097e6;
}

.fa-twitter {
    color: #0097e6
}

.fa ::after {
    background: brown;
    transition: 0.4s;
}

.fa :hover::after {
    transform: scale(1.3);
    opacity: 0;
}


/*media*/


/*

@media (max-width:450px) {}

@media (min-width:451px) and (max-width:540px) {}

@media (min-width:541px) and (max-width:768px) {}

@media (min-width:769px) and (max-width:1024px) {}

@media (min-width:1025px) and (max-width:1200px) {}

@media (min-width:1021px) {}

*/